<p
  appHighlight
  [in]="'gold'"
  [ngStyle]="{
    color: color,
    fontFamily: font,
    fontSize: size + 'px'
  }"
>
  word works!
</p>
<input type="text" appRainbow />
<div class="row">
  <div class="col">
    <input type="color" class="form-control" [(ngModel)]="color" />
  </div>
  <div class="col">
    <input type="number" class="form-control" [(ngModel)]="size" />
  </div>
  <div class="col">
    <select class="form-control" [(ngModel)]="font">
      <option value="verdana">Verdana</option>
      <option value="garamond">Garamond</option>
      <option value="arial">Arial</option>
    </select>
  </div>
</div>
